__pycache__/
*.pyc
*.csv
*.json
.env
.env.production
.env.development
.env.local
chroma_db/
*.lock
*.mp4
*.mp3
data/generated/images/*
!data/generated/images/.gitkeep
*.png
*.html
node_modules/
venv/
bridge_env/
web_app/.next/